@page
@model NewLab1.Pages.OfficeHourSch.AddOfficeHoursModel
@{
}

<form asp-page="AddProducts">
    <input asp-for="NewOfficeHours.OfficeNumber" placeholder="Office Number" />
    <input asp-for="NewOfficeHours.Date" placeholder="Date" />
    <input asp-for="NewOfficeHours.Time" placeholder="Time" />
    <input asp-for="NewOfficeHours.FacultyID" placeholder="FacultyID" />
    <br />
    <input type="submit" value="Add New Office Hours->" <input />
    <a asp-page="Index">Cancel</a>

</form>
