@page 
@model NewLab1.Pages.OfficeHourSch.EditStudentsModel
@{

 if (HttpContext.Session.GetString("username") != null)
    {


<form asp-page="EditStudents">
    <input type="hidden" asp-for="@Model.EditView.OfficeHourID" />
    <label asp-for="@Model.EditView.StudentName"></label>
    <input type="text" asp-for="@Model.EditView.StudentName" />
    <br /><br />
    <input type="submit" class="btn btn-success" asp-page="EditStudents" />
    <a asp-page="OfficeHourPageTeacher" class="btn btn-secondary">Cancel</a>
</form>

    }

}