@page 
@model NewLab1.Pages.OfficeHourSch.EditStudentsModel
@{

    if (HttpContext.Session.GetString("username") != null && HttpContext.Session.GetString("personType") == "Faculty")
    {


<form asp-page="EditStudents">
    <input type="hidden" asp-for="@Model.EditView.OfficeHourID" />
    <label asp-for="@Model.EditView.StudentName"></label>
    <input type="text" asp-for="@Model.EditView.StudentName" />
    <br /><br />
    <input type="submit" class="btn btn-success" asp-page="EditStudents" />
    <a asp-page="OfficeHourPageTeacher" class="btn btn-secondary">Cancel</a>
</form>
    }

else
        {
            <p>You do not have permission to access this page.</p>
            <script>setTimeout(function () { window.location.href = '/Index'; }, 2000);</script>
        }

    }