@page "{StudentID}"
@model NewLab1.Pages.OfficeHourSch.StudentAccountModel
@{
}
<h1>Student Account</h1>

@foreach (var student in Model.StudentAccount)
{
    <h2>@student.FirstName @student.LastName</h2>
    <p>Email: @student.StuEmail</p>
    <p>Phone: @student.Phone</p>
}